<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
  <%- include('../partials/nav') %>

  <main>
    <div class="container">
      <div class="row">
        
        <!-- Login Form Left Side -->

        <div class="col-lg-5 login-form-left">
          <div class="my-5 text-center">
            <h1 class="mb-4">Cheers! Welcome back!</h1>
            <h5 class="mb-4">Log back in to your account.</h5>

            <% if (typeof error !=='undefined' ) { %>
              <p class="error-msg">Error: <%= error %>
              </p>
            <% } %>
            
            <form action="/login" method="POST">
              <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Username">
              </div>
              <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password">
              </div>
              <button type="submit" class="button green-button my-3">Log In</button>
            </form>

              <a href="/register" class="text-link">
              <p class="link-animation">Don't have an account yet? Sign up!</p>
            </a>
            
          </div>
        </div>

        <!-- Login Form Right Side -->

        <div class="col-lg-7">
          <img src="/images/login-1.png" alt="cheers" class="login-img">
          <img src="/images/login-2.png" alt="bibimbap" class="login-img">
          <img src="/images/login-3.png" alt="red velvet cake slice" class="login-img">
          <img src="/images/login-4.png" alt="Indian rice dish" class="login-img">
        </div>
      </div>
    </div>
    
  </main>
</body>

</html>