<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
  <%- include('../partials/nav') %>

  <main>
    <h1>Welcome back!</h1>
    <h5 class="mb-3">Log back in to your account.</h5>

    <% if (typeof error !=='undefined' ) { %>
      <p class="error-msg">Error: <%= error %>
      </p>
    <% } %>
    
    <form action="/login" method="POST">
      <div class="mb-3">
        <input type="text" class="form-control" name="username" placeholder="Username">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn mb-4 rounded-pill submit-btn">Log In</button>
    </form>

    <a href="/register" class="text-link">
      <p>Don't have an account yet? Sign up!</p>
    </a>
  </main>
</body>

</html>