<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { page: "Log In" }) %>

<body>
  <%- include('../partials/nav') %>

  <main>
    <div class="container mt-3 px-4">
      <div class="row gx-5">
        
        <!-- Login Form Left Side -->

        <div class="col-lg-5 login-form-left">
          <div class="my-5 text-center">
            <h1 class="mb-4">Welcome back!</h1>
            <h5 class="mb-4">Log back in to your account.</h5>

            <% if (typeof error !=='undefined' ) { %>
              <div class="error-container my-3">
                <p class="error-msg">Error: <%= error %>
                </p>
              </div>
            <% } %>
            
            <form action="/login" method="POST">
              <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Username">
              </div>
              <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password">
              </div>
              <button type="submit" class="button green-button my-3">Log In</button>
            </form>

              <a href="/register" class="text-link">
              <p class="link-animation">Don't have an account yet? Sign up!</p>
            </a>
            
          </div>
        </div>

        <!-- Login Form Right Side -->

        <div class="col-lg-7">
          <div class="row">
            <div class="col collage-col">
              <img src="/images/login-1.png" alt="cheers" class="login-img">
              <img src="/images/login-2.png" alt="bibimbap">
            </div>
            <div class="col collage-col">
              <img src="/images/login-3.png" alt="red velvet cake slice">
              <img src="/images/login-4.png" alt="Indian rice dish">
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </main>
</body>

</html>