<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
  <%- include('../partials/nav') %>

  <main>
    <h5 class="modal-title" id="signUpModalToggleLabel">Create an Account</h5>

    <p class="mb-3">Join our community of food enthusiasts and cravers.</p>
    
    <form action="/register" method="POST">
      <div class="mb-3">
        <input type="text" class="form-control" name="username" placeholder="Username">
      </div>
      <div class="mb-3">
        <input type="email" class="form-control" name="email" placeholder="email@example.com">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" name="passwordTwo" placeholder="Confirm Password">
      </div>
      <button type="submit" btn mb-4">Sign Up</button>
    </form>

    <a href="/login" class="text-link">
      <p>Already have an account? Log in!</p>
    </a>
  </main>

</body>
</html>