<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
  <%- include('../partials/nav') %>

  <main>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 align-self-center register-left">
            <div class="row align-items-center"> 
              <div class="col">
                <h1 class="modal-title" id="signUpModalToggleLabel">Create an Account</h1>

              <h5 class="mb-3">Join our community of food enthusiasts and cravers.</h5>

              <% if (typeof error !== 'undefined') { %>
                <p class="error-msg">Error: <%= error %></p>
              <% } %> 

              <form action="/register" method="POST">
                <div class="mb-3">
                  <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="mb-3">
                  <input type="email" class="form-control" name="email" placeholder="email@example.com">
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" name="passwordTwo" placeholder="Confirm Password">
                </div>
                <button type="submit" class="btn mb-4 rounded-pill submit-btn">Sign Up</button>
              </form>

              <a href="/login" class="text-link">
                <p>Already have an account? Log in!</p>
              </a>
              </div>
              
            </div>
          
        </div>
          

        <div class="col-lg-7">
          <div class="container">
            <div class="row">
              <div class="col align-self-center">
                <img src="images/register-2.jpg" alt="Lamb rack" class="register-img-2 rounded float-start">
              </div>
              <div class="col align-self-start">
                <img src="images/register-1.jpg" alt="Sandwiches and fries" class="register-img-1 rounded float-end mt-3">
                <img src="images/register-3.jpg" alt="Creme brulee" class="mt-3 register-img-1 rounded float-end">
              </div>
            </div>
          </div>
          
          
          
        </div>
      </div>
    </div>
    
  </main>

</body>
</html>