@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap");

// SECTION CSS Variables

$logo-font-stack: "Cookie", cursive;
$heading-font-stack: "Playfair Display", serif;
$body-font-stack: "Open Sans", sans-serif;
$dark-red-color: #ce1b12;
$light-red-color: #eb4d47;
$orange-color: #f58129;
$yellow-color: #fff5c2;
$light-green-color: #54c981;
$dark-green-color: #2a7a47;
$black-color: #1f1f1f;
$grey-color: #eeeef1;

// SECTION Global

h1,
h2,
h3 {
  font-family: $heading-font-stack;
  color: $orange-color;
}

p {
  font-family: $body-font-stack;
}

body {
  margin: 0;
  padding: 0;
}

main {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  font-family: $body-font-stack;
}

input {
  font-family: $body-font-stack;
}

header {
  height: 50vh;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.search-border {
  border-color: $orange-color !important;
}

.search-button {
  background-color: $orange-color;
}

a {
  text-decoration: none;
}

.error-container {
  border: $dark-red-color solid 3px;
}

.error-msg {
  color: $dark-red-color;
  padding-top: 10px;
  text-align: center;
}

.grey-text {
  color: grey;
}

.warning-button {
  background-color: $light-red-color;
  color: white;
}

.link-animation {
  display: inline;
  background: linear-gradient(to bottom, #54c981 0%, #54c981 100%) !important;
  background-position: 0 100% !important;
  background-repeat: repeat-x !important;
  background-size: 4px 4px !important;
  color: $black-color !important;
  text-decoration: none !important;
  transition: background-size 0.5s !important;
}

.link-animation:hover {
  background-size: 4px 50px !important;
  color: white !important;
}

.button {
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
  cursor: pointer;
  padding: 5px 15px;
  color: white;
}

.button:hover {
  outline: 0;
}

.green-button {
  border-color: $dark-green-color;
  color: white;
  background-image: linear-gradient(45deg, white 50%, $dark-green-color 50%);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 500px;
  transition: background 0.5s ease-in-out;
}
.green-button:hover {
  background-position: 0;
  color: $dark-green-color;
}

.grey-button {
  border-color: #b8b8b8;
  color: white;
  background-image: linear-gradient(45deg, white 50%, #b8b8b8 50%);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 500px;
  transition: background 0.5s ease-in-out;
}
.grey-button:hover {
  background-position: 0;
  color: #b8b8b8;
}

// SECTION Navbar
.nav-container {
  width: 95%;
}

.navbar {
  background-color: rgba($color: #fff, $alpha: 0.8);
}

#logo {
  font-family: $logo-font-stack;
  font-size: 34px;
  // padding-left: 8px !important;
  color: $light-red-color;
}

.nav-button {
  border-color: $light-red-color;
  color: white;
  background-image: linear-gradient(45deg, white 50%, $light-red-color 50%);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 500px;
  transition: background 0.5s ease-in-out;
}
.nav-button:hover {
  background-position: 0;
  color: $light-red-color;
}

.nav-link-animation {
  padding-top: 10px;
  background: linear-gradient(
    to bottom,
    $light-red-color 0%,
    $light-red-color 100%
  ) !important;
  background-position: 0 100% !important;
  background-repeat: repeat-x !important;
  background-size: 4px 4px !important;
  color: $black-color !important;
  text-decoration: none !important;
  transition: background-size 0.5s !important;
}

.nav-link-animation:hover {
  background-size: 4px 50px !important;
  color: white !important;
}

// SECTION Homepage

.home-search {
  max-width: 400px;
}

.home-img-1 {
  width: 400px;
}

.home-img-2 {
  width: 350px;
}

.about-section {
  background-image: linear-gradient(180deg, $yellow-color, white);
}

.sliding-background-container {
  overflow: hidden;
  height: 60vh;
  // max-width: 800px;
}

.sliding-background-1 {
  background: url("/images/home-collage-1.png") top repeat-y;
  background-size: contain;
  height: 5076px;
  float: left;
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -1692px, 0);
  }
}

// SECTION Restaurant Index Page

a#restaurant-link {
  color: #1f1f1f;
  text-decoration: none !important;
}

.restaurant-index-cards {
  height: 300px;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.restaurant-card {
  border: 3px solid $yellow-color !important;
  border-radius: 2px;
}

.restaurant-card-individual {
  transition: 0.3s;
}

.restaurant-card-individual:hover {
  box-shadow: 0 0 3px 7px $yellow-color;
}

.search-bar-index {
  max-width: 500px;
}

.cards-link {
  color: $black-color;
  text-decoration: none;
}

.restaurant-card-img {
  min-width: 100%;
  min-height: 100%;
}

// SECTION Restaurant Show Page

.red-heading {
  color: $dark-red-color;
}

.avatar-img {
  width: 125px;
  box-sizing: border-box;
  border: $yellow-color solid 5px;
}

.menu-modal-header {
  background-color: $orange-color;
  border: none;

  h2 {
    color: white;
  }
}

#reviewModalLabel {
  color: $light-red-color;
}

.green-text {
  color: $light-green-color;
  text-decoration: underline;
}

.heading-backgound {
  background-color: rgba($yellow-color, 0.5);
}

// SECTION Submit Review Form

// SECTION Registration

.register-left {
  border: $yellow-color 3px solid;
  box-shadow: 0 0 10px 5px $yellow-color;
  height: 600px;
}

.register-img-1 {
  width: 18em;
}

.register-img-2 {
  width: 18em;
}

// SECTION Profiles
.profile-avatar-img {
  width: 200px;
  box-sizing: border-box;
  border: $yellow-color solid 5px;
  margin: auto;
}

// SECTION Edit Profile
.edit-input-field {
  width: 100%;
}
