@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap");

// SECTION CSS Variables

$logo-font-stack: "Cookie", cursive;
$heading-font-stack: "Playfair Display", serif;
$body-font-stack: "Open Sans", sans-serif;
$primary: #f58129;

// SECTION Global

h1,
h2 {
  font-family: $heading-font-stack;
  color: $primary;
}

p {
  font-family: $body-font-stack;
}

body {
  margin: 0;
  padding: 0;
}

main {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  background-color: #fff5c2;
}

.search-border {
  border-color: $primary !important;
}

.search-button {
  background-color: $primary;
}

// SECTION Homepage

.home-search {
  width: 80%;
}

.home-img-1 {
  width: 400px;
}

.home-img-2 {
  width: 350px;
}
