<nav class="navbar navbar-expand-md sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand ms-5" href="#">
      <img src="images/food.svg" alt="Brand logo" width="40" height="40" class="d-inline-block" />
      <span id="logo">Cravings</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-flex">
        <a href="#" class="nav-link me-5">Restaurants</a>
        <a href="#" class="nav-link me-5">Sign Up</a>
        <a href="#" class="nav-link me-5">Log In</a>
    </div>

  </div>
</nav>