<nav class="navbar navbar-expand-md sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand ms-5" href="/">
      <img src="/images/food.svg" alt="Brand logo" width="40" height="40" class="d-inline-block" />
      <span id="logo">Cravings</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-flex">
        <a href="/restaurants" class="nav-link me-5">Restaurants</a>

        <a href="/register" class="nav-link me-5">
          Sign Up
        </a>

        <a href="/login" class="nav-link me-5">Log In</a>
    </div>

  </div>
</nav>

<!-- Sign Up Form Modal

<div class="modal fade" id="signUpModal" aria-hidden="true" aria-labelledby="signUpModalToggleLabel"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signUpModalToggleLabel">Create an Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="mb-3">Join our community of food enthusiasts and cravers.</p>

        <form action="/register" method="POST">
          <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username">
          </div>
          <div class="mb-3">
            <input type="email" class="form-control" name="email" placeholder="email@example.com">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" placeholder="Confirm Password">
          </div>
          <button type="submit" btn mb-4">Sign Up</button>
        </form>

        <a href="" class="text-link" data-bs-target="#logInModal" data-bs-toggle="modal"
          data-bs-dismiss="modal"><p>Already have an account? Log in!</p></a>
      </div>
    </div>
  </div>
</div> -->

<!-- Log In Form Modal -->

<!-- <div class="modal fade" id="logInModal" aria-hidden="true" aria-labelledby="logInModalToggleLabel2"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logInModalToggleLabel2">Welcome Back</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Log in to your account.

        <form action="/login" method="POST">
          <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <button type="submit" btn mb-4">Log In</button>
        </form>

        <a href="" data-bs-target="#signUpModal" data-bs-toggle="modal"><p>Don't have an account yet? Sign up!</p></a>
      </div>
    </div>
  </div>
</div> -->
