<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', { page: "404 Error" }) %>

  <body>
    <%- include('./partials/nav') %>
    <main>
      <img width="300px" src="https://media.giphy.com/media/jKaFXbKyZFja0/giphy.gif?cid=ecf05e47pwsly38snmbzt7abo9hdmqfoacm7a4ksuknl3hgk&rid=giphy.gif&ct=g" alt="Page not found">
      <p>
        Sorry, something went wrong! Let's get you back on track to satisying your cravings.<br />
        <a href="/restaurants">Return to restaurants.</a>
      </p>
    </main>
  </body>
</html>