<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Cravings Homepage</title>
</head>

<body>
  <main>
    <section>
      <h1>Cravings Homepage</h1>
      <p>Craving something?</p>
      <p>Search restaurants in the heart of LA.</p>
      <form>
        <input type="text">
        <button></button>
      </form>
    </section>
    <section>
      <h2>What's popular</h2>
    </section>
  </main>
</body>