<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 

<body>
<%- include('./partials/nav') %> 
  <main>

    <section class="container">
      <div class="row">

        <div class="col-lg-6 my-auto">
          <h1>Explore Local Flavors</h1>
          <p>Craving something?</p>
          <p>Search restaurants in the heart of LA.</p>

          <!-- Search restaurant form -->
          <form action="/restaurants/search">
            <div class="mb-2 input-group">
              <input type="text" class="form-control rounded-start border-2 py-2 home-search search-border" aria-describedby="button-addon2" placeholder="Search by restaurant or cuisine" name="q">

              <button class="rounded-end border search-border search-button" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-search" viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg></button>
            </div>
          </form>

          <div>
            <a href="/restaurants" >
            <h5 class="link-animation">Browse all restaurants </h5>
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="#54c981" class="bi bi-arrow-right-circle ms-2"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
            </svg>
          </a>
          </div>
          

        </div>
        
        <div class="col-lg-6">
          <img src="images/home-1.jpg" alt="People eating pizza" class="home-img-1 rounded float-end">
          <img src="images/home-2.jpg" alt="Takeout food" class="home-img-2 rounded float-start">
        </div>


      </div>
    </section>


    
  </main>
</body>