@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap");
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  color: #f58129;
}

p {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

main {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  font-family: "Open Sans", sans-serif;
}

input {
  font-family: "Open Sans", sans-serif;
}

header {
  height: 50vh;
  overflow: hidden;
}
header img {
  width: 100%;
  object-fit: cover;
}

.search-border {
  border-color: #f58129 !important;
}

.search-button {
  background-color: #f58129;
}

a {
  text-decoration: none;
}

.error-container {
  border: #ce1b12 solid 3px;
}

.error-msg {
  color: #ce1b12;
  padding-top: 10px;
  text-align: center;
}

.grey-text {
  color: grey;
}

.warning-button {
  background-color: #eb4d47;
  color: white;
}

.link-animation {
  display: inline;
  background: linear-gradient(to bottom, #54c981 0%, #54c981 100%) !important;
  background-position: 0 100% !important;
  background-repeat: repeat-x !important;
  background-size: 4px 4px !important;
  color: #1f1f1f !important;
  text-decoration: none !important;
  transition: background-size 0.5s !important;
}

.link-animation:hover {
  background-size: 4px 50px !important;
  color: white !important;
}

.button {
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
  cursor: pointer;
  padding: 5px 15px;
  color: white;
}

.button:hover {
  outline: 0;
}

.green-button {
  border-color: #2a7a47;
  color: white;
  background-image: linear-gradient(45deg, white 50%, #2a7a47 50%);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 500px;
  transition: background 0.5s ease-in-out;
}

.green-button:hover {
  background-position: 0;
  color: #2a7a47;
}

.grey-button {
  border-color: #b8b8b8;
  color: white;
  background-image: linear-gradient(45deg, white 50%, #b8b8b8 50%);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 500px;
  transition: background 0.5s ease-in-out;
}

.grey-button:hover {
  background-position: 0;
  color: #b8b8b8;
}

.red-button {
  border-color: #eb4d47;
  color: white;
  background-image: linear-gradient(45deg, white 50%, #eb4d47 50%);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 500px;
  transition: background 0.5s ease-in-out;
}

.red-button:hover {
  background-position: 0;
  color: #eb4d47;
}

.nav-container {
  width: 95%;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.8);
}

#logo {
  font-family: "Cookie", cursive;
  font-size: 34px;
  color: #eb4d47;
}

.nav-button {
  border-color: #eb4d47;
  color: white;
  background-image: linear-gradient(45deg, white 50%, #eb4d47 50%);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 500px;
  transition: background 0.5s ease-in-out;
}

.nav-button:hover {
  background-position: 0;
  color: #eb4d47;
}

.nav-link-animation {
  padding-top: 10px;
  background: linear-gradient(to bottom, #eb4d47 0%, #eb4d47 100%) !important;
  background-position: 0 100% !important;
  background-repeat: repeat-x !important;
  background-size: 4px 4px !important;
  color: #1f1f1f !important;
  text-decoration: none !important;
  transition: background-size 0.5s !important;
}

.nav-link-animation:hover {
  background-size: 4px 50px !important;
  color: white !important;
}

.home-search {
  max-width: 400px;
}

.home-img-1 {
  width: 400px;
}

.home-img-2 {
  width: 350px;
}

.about-section {
  background-image: linear-gradient(180deg, #fff5c2, white);
}

.sliding-background-container {
  overflow: hidden;
  height: 60vh;
}

.sliding-background-1 {
  background: url("/images/home-collage-1.png") top repeat-y;
  background-size: contain;
  height: 5076px;
  float: left;
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -1692px, 0);
  }
}
a#restaurant-link {
  color: #1f1f1f;
  text-decoration: none !important;
}

.restaurant-index-cards {
  height: 300px;
  overflow: hidden;
}
.restaurant-index-cards img {
  width: 100%;
  object-fit: cover;
}

.restaurant-card {
  border: 3px solid #fff5c2 !important;
  border-radius: 2px;
}

.restaurant-card-individual {
  transition: 0.3s;
}

.restaurant-card-individual:hover {
  box-shadow: 0 0 3px 7px #fff5c2;
}

.search-bar-index {
  max-width: 500px;
}

.cards-link {
  color: #1f1f1f;
  text-decoration: none;
}

.restaurant-card-img {
  min-width: 100%;
  min-height: 100%;
}

.red-heading {
  color: #ce1b12;
}

.avatar-img {
  width: 125px;
  box-sizing: border-box;
  border: #fff5c2 solid 5px;
}

.menu-modal-header {
  background-color: #f58129;
  border: none;
}
.menu-modal-header h2 {
  color: white;
}

#reviewModalLabel {
  color: #eb4d47;
}

.green-text {
  color: #54c981;
  text-decoration: underline;
}

.heading-backgound {
  background-color: rgba(255, 245, 194, 0.5);
}

.login-form-left {
  border: #fff5c2 3px solid;
  box-shadow: 0 0 10px 5px #fff5c2;
  height: 55%;
  max-height: 800px;
}

.collage-col {
  max-width: 50%;
  padding: 0 4px;
}
.collage-col img {
  vertical-align: middle;
  width: 100%;
  max-width: 330px;
}
.collage-col img:nth-child(2) {
  margin-top: 8px;
}

@media screen and (max-width: 800px) {
  .collage-col {
    margin-top: 50px;
  }
}
.profile-avatar {
  vertical-align: middle;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-sizing: border-box;
  border: #fff5c2 solid 5px;
  margin: auto;
}

.edit-input-field {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
